
.hero-section{
    position: relative;
    
}
.card{
    padding-top: 120px;
    max-width: 1270px;
    width: 100%;
    overflow: hidden;
}

.box1{
    width: 35%;
    position: absolute;
    bottom: 100px;
    margin: 0 444px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.span1 , .span2 , .span3 , .span4 {
    display: inline-block;
    width: 22%;
    height: 5px;
    border-radius: 5px;
    // background-color: #C499A4;
    background-color: #fff;
    cursor: pointer;
}

.left{
    position: absolute;
    left: 50px;
    width: 40px;
    height: 40px;
    border: 1px solid #000;
    border-radius: 10px;
    bottom: 250px;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.5s;
    z-index: 5;

    &:hover{
        color: #454545;
        border: 1px solid #454545;
        transform: translateX(-5px);
    }
}

.right{
    position: absolute;
    right: 50px;
    width: 40px;
    height: 40px;
    border: 1px solid #000;
    border-radius: 10px;
    bottom: 250px;
    cursor: pointer;
    z-index: 5;
    background-color: transparent;
    transition: all 0.5s;

    &:hover{
        color: #454545;
        border: 1px solid #454545;
        transform: translateX(5px);
    }
}

.hero{
    display: flex;
    transition: all 0.8s;
    position: relative;

    &__list{
        // width: 100%;
        position: relative;

        &-img{
            object-position: center;
            object-fit: cover;
            position: relative;
            height: 100%;
        }

        &-content{
            position: absolute;
            z-index: 2;
            bottom: 145px;
            left: 130px;
            width: 380px;

            &-title{
                font-weight: 700;
                line-height: 46px;
                font-size: 38px;
                color: #FFFFFF;
                text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.49);
                text-transform: uppercase;

            }

            &-text{
                margin: 10px 0 14px 0;
                font-weight: 600;
                line-height: 22px;
                font-size: 18px;
                color: #FFFFFF;
                text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.43);

            }

            &-link{
                border-radius: 20px;
                background: #E4BD63;
                display: inline-block;
                padding: 12px 28px 14px 24px;
                font-weight: 500;
                line-height: 23px;
                font-size: 20px;
                color: #fff;
                position: relative;

                &::before{
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    transform: scaleX(0);
                    transition: transform 0.3s ;
                    transform-origin: left;
                    background-color: #000000;
                    color: #fff;
                    border-radius: 20px;
                    // border: 1px solid #FFFFFF;
                }

                &:hover::before,
                &:focus::before{
                    transform: scaleX(1);
                    // mix-blend-mode: ;
                    mix-blend-mode: color;
                }
            }

        }
    }
}

.box__item{
    position: absolute;
    padding: 0 90px;
    max-width: 1300px;
    width: 83%;
    @include center (space-between);
    align-items: flex-start;
    bottom: -60px;

}

.box__item-list{
    width: 23%;
    padding: 11px 35px 30px 35px;
    background: #FFFFFF;
    box-shadow: 0px 1px 14px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    text-align: center;
    height: auto;
    transition: all 0.5s;
    cursor: pointer;
    position: relative;

    & > p{
        margin-top: 10px;
        font-weight: 500;
        line-height: 20px;
        font-size: 16px;
        color: #8E8888;
    }
}

.box__item-list:first-child{
    padding-bottom: 35px;
}
.box__item-list:nth-child(2){
    padding-bottom: 35px;
}



.box__item-list::before{
    content: '';
    position: absolute;
    // width: 50px;
    height: 40px;
    background-image: url("../../img/shakl.png");
    background-size: cover;
    background-position: center;
    top: -25px;
    left: 40%;
    transition: all 0.5s;
}
.box__item-list::after{
    position: absolute;
    content: ' ';
    width: 0;
    height: 2px;
    background-color: #FF416C;
    bottom: 0;
    left: 17px;
    transition: all 0.5s;
}


.box-active{
    transform: scale(1.05);

    & > p{
        color: #FF416C;
    }

    &::after{
        width: 60%;
    }

    &::before{
        width: 50px;
    }
}